/* 定义全局变量 */
/* 公共的样式放到base.less里面 */
* {
  margin: 0px;
  padding: 0px;
  /* 防止边框padding超出页面宽度出现滚动条 */
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
  /*一般移动端清除a的点击高亮  透明就表示去掉*/
  -webkit-tap-highlight-color: transparent;
}
input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none;
}
img {
  /* 解决图片3px的间距 */
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.layout {
  /* 最大640px */
  max-width: 40rem;
  /*  居中显示 */
  margin: 0px auto;
  background-color: #f5f5f5;
  /* 为了让底部的内容不和底部导航重叠在一起  让内容往上走*/
  padding-bottom: 3.125rem;
  /* 公共的头部样式 */
  /* 公共底部的样式 */
}
.layout #header {
  height: 2.8125rem;
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  position: fixed;
  /* 固定定位宽度是参照整个浏览器窗口的宽度 */
  width: 100%;
  /* 给固定定位的头部单独添加最大宽度 */
  max-width: 40rem;
  top: 0px;
  z-index: 999;
  /* 属性选择器选中所有类名以icon-的元素 */
}
.layout #header [class^="icon-"] {
  background-image: url(../images/sprites.png);
  /* 要把整个背景图都缩小一半  注意不能使用百分比因为百分比是参照当前元素的宽高*/
  background-size: 12.5rem 12.5rem;
  /* 让背景图从内容区域开始定位 */
  background-origin: content-box;
  /* 裁切掉内容区域以外的背景图 */
  background-clip: content-box;
}
.layout #header .icon-logo {
  width: 5rem;
  height: 1.875rem;
  display: block;
  margin-top: 0.3125rem;
  padding: 0px 0.625rem;
  background-position: 0 -6.5625rem;
}
.layout #header .icon-back {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  display: block;
  background-position: -1.25rem 0;
}
.layout #header form {
  flex: 1;
  position: relative;
  margin-top: 0.3125rem;
}
.layout #header form .icon-search {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.625rem;
  top: 0.3125rem;
  background-position: -3.75rem -6.75rem;
}
.layout #header form input {
  height: 1.875rem;
  width: 100%;
  border-radius: 15px;
  padding-left: 2.1875rem;
  font-size: 0.75rem;
}
.layout #header .login {
  width: 3.125rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
}
.layout #header .icon-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  padding: 0.625rem;
  background-position: -3.75rem 0;
}
.layout #footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 3.125rem;
  background-color: #fff;
  z-index: 999;
  max-width: 40rem;
}
.layout #footer > ul {
  display: flex;
}
.layout #footer > ul > li {
  width: 25%;
}
.layout #footer > ul > li > a {
  display: block;
  text-align: center;
}
.layout #footer > ul > li > a > img {
  width: 4.0625rem;
  height: 3.125rem;
}
html {
  font-size: 100px;
}
body {
  font-size: 16px;
}
body {
  max-width: 750px;
  margin: 0 auto;
}
#header {
  background-color: skyblue;
  width: 100%;
  display: flex;
  height: 45px;
  position: fixed;
  z-index: 999;
  max-width: 750px;
}
#header #logo {
  display: block;
  background-image: url(../images/sprites.png);
  background-position: 0px -110px;
  width: 58px;
  height: 23px;
  margin-top: 11px;
  margin-left: 8px;
}
#header form {
  flex: 1;
  margin-left: 10px;
  position: relative;
}
#header form .icon-search {
  position: absolute;
  left: 5px;
  top: 13px;
  width: 20px;
  height: 20px;
  background-position: -60px -110px;
}
#header form input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
  margin-top: 8px;
}
#header .login {
  width: 60px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
#slide img {
  width: 100%;
}
#nav {
  background-color: #fff;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#nav ul li {
  width: 25%;
}
#nav ul li > a {
  display: block;
  text-align: center;
}
#nav ul li > a > p {
  line-height: 30px;
}
#main {
  background-color: #f5f5f5;
}
#main #seckill {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 1px #ccc;
}
#main #seckill .title {
  height: 30px;
}
#main #seckill .title .naozhong {
  margin-left: 10px;
  float: left;
  width: 20px;
  height: 20px;
}
#main #seckill .title .name {
  margin-left: 10px;
  float: left;
  color: red;
}
#main #seckill .title .down-time {
  margin-left: 10px;
  float: left;
}
#main #seckill .title .down-time span {
  display: inline-block;
  background-color: black;
  color: white;
  width: 20px;
  text-align: center;
}
#main #seckill .title .down-time span:nth-child(3n) {
  background-color: white;
  color: black;
}
#main #seckill .title .gengduo {
  margin-right: 10px;
  float: right;
}
#main #seckill .content ul {
  display: flex;
}
#main #seckill .content ul li {
  text-align: center;
  flex: 1;
}
#main #seckill .content ul li img {
  width: 100%;
}
#main #seckill .content ul li p:nth-of-type(1) span {
  color: red;
}
#main #jdcs {
  width: 100%;
}
#main #jdcs .title {
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}
#main #jdcs .content {
  display: flex;
  width: 100%;
}
#main #jdcs .content img {
  width: 100%;
}
#main #jdcs .content .left {
  flex: 1;
}
#main #jdcs .content .left > a {
  display: block;
}
#main #jdcs .content .right {
  flex: 1;
}
#main #jdcs .content .right > a {
  display: block;
}
#footer {
  position: fixed;
  width: 100%;
  background: #fff;
  bottom: 0px;
  z-index: 999;
  max-width: 750px;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 100%;
  flex: 1;
}
#footer ul li > a {
  display: block;
  text-align: center;
}
#footer ul li > a > img {
  width: 65px;
  height: 50px;
}
.zuihou {
  padding-bottom: 50px;
}
